<!DOCTYPE html>
<html>
    <head>
        <!-- SEO meta Tags -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta NAME="author" CONTENT="Ryan W">
        <meta NAME="subject" CONTENT="Software">
        <meta NAME="Description" CONTENT="Stelch is an Australian Software Development organisation dedicated to providing a simple yet efficient system for all Business and Personal needs.">
        <meta NAME="Classification" CONTENT="Stelch is an Australian technology company that specializes in Internet-related services and products, which include Software, Hardware, Computing Services and Technology.">
        <meta NAME="Keywords" CONTENT="Stelch, Software, Development, Business, Tools, SASS">
        <meta NAME="Geography" CONTENT="Sydney, Australia 2000">
        <meta NAME="Language" CONTENT="English">
        <meta HTTP-EQUIV="CACHE-CONTROL" CONTENT="PUBLIC">
        <meta NAME="Copyright" CONTENT="Stelch">
        <meta NAME="distribution" CONTENT="Global">
        <meta NAME="Robots" CONTENT="INDEX,FOLLOW">
        <meta NAME="city" CONTENT="Sydney">
        <meta NAME="country" CONTENT="Australia">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="software development, stelch, stelch software, software, website developer, website development">
        <meta property="og:type" content="website"/>
        <meta property="og:url" content="https://stelch.com/"/>
        <meta property="og:title" content="Stelch - Software Powered future creator."/>
        <meta property="og:description" content="Stelch is an Australian Software Development organisation dedicated to providing a simple yet efficient system for all Business and Personal needs."/>
        <meta name="title" content="Stelch Software" ng-if="metaController.metaData.title"/>
        <meta property="og:description" content="Stelch is an Australian Software Development organisation dedicated to providing a simple yet efficient system for all Business and Personal needs." ng-if="metaController.metaData.metaDescription"/>
        <meta property="og:site_name" content="Stelch"/>
        <meta property="og:image" content="https://stelch.com/api/logo/80"/>
        <meta property="og:locale" content="en-US"/>

        <!-- BROWSER UTILS -->
        <link rel="shortcut icon" type="image/png" href="https://stelch.com/api/logo/80">
        <link rel="stylesheet" type="text/css" href="assets/stylesheets/main.css?v=<%SERVER.TIME%>">
        <title>Stelch</title>
    </head>

    <body>

    <noscript>
        <div class="alert top">
            <div class="alert-inner">
                <div class="title">NoScript Warning</div>
                <div class="description">This site currently depends largely on the use of JavaScript. Most functions will not work without it.</div>
            </div>
        </div>
    </noscript>

        <div class="header-basic">
            <div class="header-inner">
                <div class="col-1">
                    <div class="image-container">
                        <img src="https://stelch.com/api/logo/80" width="50%" -applet-data-link="home" onclick="applet.page.set('home');">
                    </div>
                    <div class="links">
                        <a class="link" href="#/page/products/" -applet-data-link="products" onclick="applet.page.set('products');">Products</a>
                    </div>
                </div>
                <div class="col-2">
                    <div class="links">
                        <a class="link" href="#/page/company/" onclick="alert('This page is currently under construction.');">Our Company</a>
                        <a class="link" href="#/page/help/" onclick="alert('This page is currently under construction.');">Help</a>
                    </div>
                </div>
            </div>
        </div>

        <div id="applet_body_element" style="width:100%;height:fit-content;"></div>



    <div class="whitespace" style="height:1px;content:'';margin: 15% 0;"></div>
    <div class="social">Follow Stelch [FB] [TW] [YT] [IN]</div>
    <div class="sitemap">
            <div class="sitemap-inner">
                <div class="row">
                    <h4 class="heading">Products</h4>
                    <a href="#/page/stelchone" -applet-data-link="stelchone" onclick="applet.page.set('stelchone');">Stelch One</a>
                    <a  href="#/page/stelchws" -applet-data-link="stelchws" onclick="applet.page.set('stelchws');">Stelch Web Server</a>
                </div>
                <div class="row">
                    <h4 class="heading">Store & Support</h4>
                    <a href="#" onclick="alert('This page is currently under construction.');">Account Panel</a>
                    <a href="#" onclick="alert('This page is currently under construction.');">Download Center</a>
                    <a href="#" onclick="alert('This page is currently under construction.');">Sales & Support</a>
                </div>
                <div class="row">
                    <h4 class="heading">Developer</h4>
                    <a href="#" onclick="alert('This page is currently under construction.');">Developer Center</a>
                </div>
                <div class="row">
                    <h4 class="heading">Company</h4>
                    <a href="#/page/carrers" -applet-data-link="carrers" onclick="applet.page.set('carrers');">Careers</a>
                    <a href="#" onclick="alert('This page is currently under construction.');">News</a>
                    <a href="#" onclick="alert('This page is currently under construction.');">Privacy</a>
                    <a href="#" onclick="alert('This page is currently under construction.');">Security</a>
                </div>
            </div>
        </div>

    </body>

</html>
<script src="assets/javascript/slideshow.js" type="text/javascript"></script>
<script src="assets/javascript/jobs.js" type="text/javascript"></script>
<script src="assets/javascript/applet.js" type="text/javascript" onload="function e(){applet.page.preload();applet.page.reload(true);}e();applet.page.set('home');"></script>

