/* CSS VERSION <%SERVER.TIME%> */
* {margin:0;padding:0;transition: 0.5s ease;}
body {
    background: #ffffff;
    color: #1b1b1b;
    font-family: sans-serif;
}
/* Manage Header Elements */
div.header-basic {
    top:0;
    width:100%;
}
div.header-basic .header-inner {
    padding: 0.5% 0;
    width:80%;
    margin: auto;
    background: transparent;
}
div.header-basic .header-inner .col-1 {width:49.5%;text-align:left;}
div.header-basic .header-inner .col-2 {width:49.5%;text-align:right;}

div.header-basic .header-inner * {display:inline-block;vertical-align: middle;}

/* Slideshow */
div.slideshow-basic {
    width:100%;
    transition: 1s ease-in-out;
}
div.slideshow-basic .slideshow-inner {
    width:80%;
    margin: auto;
    background: transparent;
}
div.slideshow-basic .slideshow-inner .slide {
    position: relative;
}
div.slideshow-basic .slideshow-inner p.title {
    position: absolute;
    top: 11%;
    left: 3.7%;
    transform: translate(50%, 50%);
    font-family: sans-serif;
    font-weight: bold;
    font-size: 2em;
}
div.slideshow-basic .slideshow-inner .subtitle {
    position: absolute;
    top: 23%;
    left: 9%;
    /* transform: translate(50%, 50%); */
    font-family: sans-serif;
    font-weight: normal;
    font-size: 1.5em;
    width: fit-content;
}
div.slideshow-basic .slideshow-inner .links {
    position: absolute;
    top: 30%;
    left: 9%;
    /* transform: translate(50%, 50%); */
    font-family: sans-serif;
    font-weight: normal;
    font-size: 1.5em;
    width: fit-content;
}
div.slideshow-basic .slideshow-inner img {width:100%;}

/* Sitemap */
div.sitemap {
    width:100%;
    height: 15%;
    background: #f2f2f2;
    color: #616161;
    text-align:left;
}
div.sitemap .sitemap-inner {
    padding: 0.5% 0;
    width: 80%;
    margin: auto;
    display: table;
}
div.sitemap .row {
    display:table-cell;
}
div.sitemap .row * {display: block;padding: 1% 0;}
div.sitemap .row h4 {color: #535353;}
div.sitemap .row a:link,a:visited {color: #959595;}
div.sitemap .row a:hover {text-decoration: underline;}

/* Cards */
div.box {
    width: 80%;
    margin: 2% auto 0 auto;
}
    /* Container element to align all the cards */
div.cards {
    text-align: center;
    display: table;
    border-spacing: 10px;
    border-collapse: separate;
    margin: auto;
    width: 100%;
}
div.card {
    width: 17%;
    border-bottom: 2px solid lime;
    background: #f3f3f3;
    color: black;
    display: table-cell;
    margin: auto;
    padding: 2% 0;
    transition: 0.2s ease;
}
div.card:hover {
    cursor: pointer;
    box-shadow: 1px 1px 1px 0px #00000042;
    transition: 0.2s ease;
}

/* Social Media Spacer */
div.social {
    width: 80%;
    margin: 1% auto 0 auto;
    color: rgba(25, 25, 25, 0.71);
}

/* Random Button Styles */
button.btn {
    background: transparent;
    border: 2px solid #1ce290;
    padding: 0.5em 0.8em;
    color: #1ce290;
    border-radius: 20px;
    transition: 0.5s ease;
    font-weight: 400;
    font-size: 18px;
}
button.btn.learn:hover {
    background: #8acae2;
    color: #fff;
    cursor: pointer;
}
button.btn.learn {
    border: 2px solid #8acae2;
    color: #8acae2;
}

/* Apply a Generic Style to href elements. */
a:link,a:visited {
    color: #006491;
    text-decoration: none;
}